.value-gamers {
  margin-top: 50px;
  padding: 30px 0px;
  background-color: rgb(27, 6, 44);

  h5 {
    color: rgb(255, 1, 155);
    font-weight: 700;
    letter-spacing: 4px;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    color: white;
  }
}