<div class="container-fluid">
    <div class="banner container-xxl text-center">
        <h1 style="margin-top: 0px;">The <span style="color:#EED21B;">basic</span> plan starts from <span style="color:#EED21B;">$2000 USD</span></h1>
        <p>Select the plan that's right for you and start empowering your success!</p>
        <div>
            <a href="form.html" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-secondary btn-sm">Show prices</button>
            </a>
            <button type="button"  class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#videoModal" ><i class="fa-solid fa-film fa-lg" style="color: #ffffff;margin-right: 10px;"></i> Watch a Demo</button>
        </div>

    </div>
</div>