<div class="container-fluid">
    <div class="container-xxl text-center">
        <h1>Contact Us</h1>>
        <p style="max-width: 800px;margin: auto;">Ready to start exploring the power of AI in your industry? Complete the contact form now and take the first step towards innovative solutions and exceptional results.</p>
    </div>
    <br>
    <br>
    <div class="container-xxl">
        <div class="row text-left">
            <div class="col-12 col-lg-4 order-2 order-md-2 order-sm-2" >
                <h4>Investor Relations</h4>
                <h5>Invest@NeurosoftAI.com</h5>
                <br>
                <h4>Sales</h4>
                <h5>Sales@NeurosoftAI.com</h5>
                <br>
                <h4>Research & Development</h4>
                <h5>RD@NeurosoftAI.com</h5>
                <br>
                <h4>Engineering</h4>
                <h5>Engineer@NeurosoftAI.com</h5>
                <br>
                <h4>Customer Service</h4>
                <h5>CustomerFirst@NeurosoftAI.com</h5>
                <br>
            </div>
            <div class="col-12 col-lg-8 order-1 order-md-1 order-sm-1 order-lg-2">
                <div class="forms text-center" style="margin: auto;">
                    <iframe src="https://forms.monday.com/forms/embed/5837b4d26158d0693efe0210c49221c4?r=use1" width="100%" height="500" style="border: 0; box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.25);"></iframe>
                    <!-- 
                    <h4>Contact Form</h4>
                    <p>“Seize tomorrow's innovations with us. Invest now and redefine the future's boundaries.”</p>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Nombre">
                    <input id="newsletter1" type="text" class="form-control" placeholder="Company">
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email">
                    <input id="newsletter1" type="text" class="form-control" placeholder="Interest service">
                    <input id="newsletter1" type="text" class="form-control" placeholder="Message">
                    <button class="btn btn-info btn-md text-left">Send</button>
                    -->
                </div>
            </div>

        </div>
    </div>
</div>