<div class="general-section">
    <div class="container-xxl">
      <div class="row text-center">
        <h7> CONTENT CREATORS</h7>
        <h1><span class="gold">Increase revenue</span> per video <br> published to platforms</h1>
      </div>
    </div>

    <div class="container-fluid" style="margin-top: 100px;">
      <div class="container-xxl">
        <div class="row">
          <div class="col text-center">
            <div class="row" style="background-color:rgba(255, 255, 255, 0.05); border-radius: 15px;padding: 20px; margin: 30px;">
              <div class="col-12">
                <img style="margin-top: -100px;" src="img/c-beginners.png">

              </div>
              <div class="col-12">
                <h3 style="margin: 0;color:#EED218">Beginner Content Creator</h3>
                <br>
                <h5>Kickstart your revenue gain using receive expert guidance using artificial intelligence to help make your content gain more likes, viewers, viewing time, and subscribers – AT LOW COST</h5>
                <br>
                <a href="form.html" style="text-decoration: none;">
                  <button type="button" class="btn btn-outline-secondary btn-smd" style="margin: 0;">Start Now</button>
                </a>
              </div>
            </div>
          </div>

          <div class="col text-center">
            <div class="row" style="background-color:rgba(255, 255, 255, 0.05); border-radius: 15px;padding: 20px; margin: 30px;">
              <div class="col-12">
                <img style="margin-top: -100px;" src="img/c-experienced.png">
              </div>
              <div class="col-12">
                <h3 style="margin: 0;color:#EED218">Experienced Content Creators</h3>
                <br>
                <h5>Polish your content to perfection with precision analysis and recommendation tools to increase your subscribers, viewership, and revenue</h5>
                <br>
                <a href="form.html" style="text-decoration: none;">
                  <button type="button" class="btn btn-outline-secondary btn-smd" style="margin: 0;">Start Now</button>
                </a>
              </div>
            </div>
          </div>

          <div class="col text-center">
            <div class="row" style="background-color:rgba(255, 255, 255, 0.05); border-radius: 15px;padding: 20px; margin: 30px;">
              <div class="col-12">
                <img style="margin-top: -100px;" src="img/c-expert.png">
              </div>
              <div class="col-12">
                <h3 style="margin: 0;color:#EED218">Expert Content Creators</h3>
                <br>
                <h5>At a Minimal Cost - Increase your marketing & viewership using analytics and tools that major Ad Agency & Film Production pay millions of dollars to use for their pre and post film & media productions</h5>
                <br>
                <a href="form.html" style="text-decoration: none;">
                  <button type="button" class="btn btn-outline-secondary btn-smd" style="margin: 0;">Start Now</button>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #212121;">
  <div class="container-xxl">
    <div class="col-12 d-flex justify-content-center ">
        <h7 style="padding: 50px 0px 0px 0px;">CONTENT CREATORS SERVICE</h7>
    </div>

    <div class="col-12 d-flex justify-content-center ">
      <h6 style="padding: 0px 0px 50px 0px;">you will have the possibility to:</h6>
    </div>



   
    
    <div class="row">
      <div class="col">
        <ul>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Analyze media to media objective alignment.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Competitor and trending hot content report insights.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Content automated script write, color strategy, audio design.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Automated content to human emotion engagement design.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Increase Advertising Space Marketing Revenue.Compare Your Media of same genre to "Trending Media".</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Increasing View Time by retaining viewer attention.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Improve Demographic Alignment with media diagnostics.</li><br>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Perfectly Mix Color Audio Script using Al Media Sync.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>AOl Card Click Increase using Al Anchoring.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Geography Alignment.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Optimize Video Runtime Scheduling.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Media Compliance Check for YouTube, Instagram, and Facebook.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Color Grade Diagnostics*.</li><br>
          <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Color Cast Analysis*.</li><br>
        </ul>
      </div>
    </div>
  </div>
</div>

    

