<div class="general-section">
    <div class="container-xxl">
      <div class="row text-center">
        <h7> QA STUDIO - FEATURES</h7>
        <h1>How can QQA Studio help?</h1>
      </div>
    </div>

    <div class="container-fluid" style="margin-top: 30px;">
      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <div class="row" style="background-color:rgba(255, 255, 255, 0.05); border-radius: 15px;padding: 20px; margin: 30px;">
              <div class="col-9">
                <h1 style="margin: 0;"><span style="color:#EED218">Film Industry</span><br> Quality Reports</h1>
                <br>
                <h5>We help Film Industry, you could reduce risk, production cost, timelines, and overhead using the following services.</h5>
                <br>
                <a href="film-industry.html" style="text-decoration: none;">
                  <button type="button" class="btn btn-outline-secondary btn-smd" style="margin: 0;">Learn more</button>
                </a>
              </div>
              <div class="col-3">
                <img class="img-fluid" src="img/film-industry-cta.webp" alt="" style="position:absolute;top: 210px; left: 520px;">
              </div>
            </div>

            <div class="row" style="background-color:rgba(255, 255, 255, 0.05); border-radius: 15px;padding: 20px; margin: 30px;">
              <div class="col-12 text-center">
                <h7 style="margin: 0;"><span style="color:#EED218">FILM INDUSTRY SERVICE</h7>
                <br><br>
              </div>
              <div class="col-12">
                <ul>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Access to Global Research Panelists (test screening participants).</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Build psychographic segmentation in minutes.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Al psychographic panelist viewing simulation (digital twin viewers).</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Expedited Test Screenings and Instant Results.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Panelist recruitment match percentage to psychographic requested.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>In a single system analysis test screening participants psychological, neurological, physiological, and linguistic feedback.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Decrease test screening Time from Request to Results.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Security of Private Films for study - reduce leak risk.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Reduce cost by leveraging all-in-one neuromarketing package.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>High quality results interpretation provided scientific analysis comprised of neuroscience, psychology, physiology, linguistics.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Neural Linguistics, Neural Visual, Neural Synaptics Activity Monitoring.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Take advantage of our Human - Technology Symbiosis</li><br>
                </ul>
              </div>
              <div class="col-12 text-center">
                <a href="form.html" style="text-decoration: none;">
                  <button type="button" class="btn btn-outline-secondary btn-smd" style="margin: 0;">Request Demo</button>
                </a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="row" style="background-color:rgba(255, 255, 255, 0.05); border-radius: 15px;padding: 20px; margin: 30px;">
              <div class="col-9">
                <h1 style="margin: 0;"><span style="color:#EED218">Content Creators</span><br> Quality Reports</h1>
                <br>
                <h5 style="z-index:1;">We help Content Creators, you could increase revenue per video published to platforms such as Facebook, YouTube, Instagram, and TikTok.</h5>
                <br>
                <a href="content-creator.html" style="text-decoration: none;">
                  <button type="button" class="btn btn-outline-secondary btn-smd" style="margin: 0;">Learn more</button>
                </a>
              </div>
              <div class="col-3">
                <img class="img-fluid" src="img/content-creator-industry.webp" alt="" style="position:absolute;top: 240px; left: 1100px;">
              </div>
            </div>

            <div class="row" style="background-color:rgba(255, 255, 255, 0.05); border-radius: 15px;padding: 20px; margin: 30px;">
              <div class="col-12 text-center">
                <h7 style="margin: 0;"><span style="color:#EED218">CONTENT CREATOR SERVICE</h7>
                <br><br>
              </div>
              <div class="col-12">
                <ul>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Analyze media to media objective alignment.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Competitor and trending hot content report insights.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Content automated script write, color strategy, audio design.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Automated content to human emotion engagement design Increase Advertising Space Marketing Revenue.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Panelist recruitment match percentage to psychographic requested.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Compare Your Media of same genre to "Trending Media".</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Increasing View Time by retaining viewer attention.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Improve Demographic Alignment with media diagnostics.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Perfectly Mix Color Audio Script using Al Media Sync.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>AOl Card Click Increase using Al Anchoring.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Geography Alignment.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Optimize Video Runtime Scheduling.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Media Compliance Check for YouTube, Instagram, and Facebook.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Color Grade Diagnostics*.</li><br>
                  <li style="color: azure; list-style-type: none;;"><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;margin-right: 20px;"></i>Color Cast Analysis*</li><br>
                </ul>
              </div>
              <div class="col-12 text-center">
                <a href="form.html" style="text-decoration: none;">
                  <button type="button" class="btn btn-outline-secondary btn-smd" style="margin: 0;">Request Demo</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

    

