<div class="home-section">
    <div class="container-xxl">
      <div class="row text-center">
          <h1><span class="gold">Democratized Al</span> for Video Game Testing Player <br>Experience andGame Viewing Experience</h1>
          <h6>Know Audience Behavior using Game Viewer Biometrics Tracking and Decrease Viewer Dropoff Rate.
            For Streamers and Game Studios | Same day</h6>
          <h6>Powered by Generative AI | Cognitive AI | Neuroscience AI</h6>
          <h3 style="color: aliceblue;"><span style="color: chocolate;">As Low As $7.99 per tester</span> + <span style="color: blueviolet;">Al Voice Assisted Report</span></h3>
      </div>
    </div>
    <div class="row container-fluid">
      <div class="container d-flex justify-content-center">
        <img src="img/imagen_home_gamer.webp" class="portada img-fluid" alt="...">
        <img src="img/imagen_home_detail1_gamer.webp" class="detail1 img-fluid">
        <img src="img/imagen_home_detail2_gamer.webp" class="detail2 img-fluid">
        <img src="img/imagen_home_detail3_gamer.webp" class="detail3 img-fluid">
      </div>
    </div>
</div>