<footer>
    <!-- Contenido del pie de página -->
    <div class="footer container-fluid">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
          <p class="col-md-4 mb-0 text-body-secondary">@Copyrigth 2023 Neurosoft AI Corporation</p>
      
          <a href="" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
          <div class="circle-background">
            <a href="https://www.instagram.com/neurosoft.23?igsh=MzBvaDIya2szN2Q0&utm_source=qr">
              <img src="img/instagram.svg" alt="instagram-logo">
            </a>
          </div>
          <div class="circle-background facebook">
            <a href="https://www.facebook.com/profile.php?id=61553013125638&mibextid=LQQJ4d">
              <img src="img/facebook.svg" alt="facebook-logo">
            </a>
          </div>
          <div class="circle-background">
            <a href="https://www.tiktok.com/@neurosoft.ai?_t=8jFxP1iW0qE&_r=1">
              <img src="img/tiktok.svg" alt="tiktok-logo">
            </a>
          </div>
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Legal
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="privacy-and-policy.html">Privacy & security policy</a></li>
              <li><a class="dropdown-item" href="terms-of-service.html">Terms of Services</a></li>
            </ul>
          </li>

        </footer>
    </div>
</footer>