<div class="container-fluid" style="margin:0px 0px;padding:30px 0px 0px 0px;background-color:#383941;">
    <div class="container-xxl">
        <div class="row text-center">
            <h1><span style="color:#EED21B;">Media Production process</span> flow with Quick Insights</h1>
            <h6>Increase your productivity with AI automation and gain 25% of efficiency.</h6>
        </div>
        <div class="row justify-content-center">
            <div class="text-center align-self-center">
                <div class=" container-fluid containerbtn" style="margin: auto;max-width: 400px;">
                    <button class="btn btn-info btn-sm">With Quick Insights<br>3,720 hourss</button>
                    <button class="btn btn-info btn-sm">Without Quick Insights<br>4,960 hours</button>
                </div>
            </div>
        </div>
    </div>
</div>