<div class="container-fluid">
    <div class="container-xxl">
        <div class="row text-center" style="margin-top:50PX;">
            <h7>REPORTS</h7>
            <h1>Take your decisions</h1>
            <h6>Data-driven results to take your decisions to another level. </h6>
            <div class="">
                <button type="button"  class="btn btn-outline-light btn-sm">Promo or Campaign</button>
                <button type="button"  class="btn btn-outline-light btn-sm">Competitor Comparison</button>
                <button type="button"  class="btn btn-outline-light btn-sm">Quality Analysis</button>
            </div>
            
            <p style="max-width: 600px;margin: 20px auto;">Harness the synergy of artificial intelligence and neural behavior understanding for proactive decision-making. Our Neuro AI predictions report ensures you stay one step ahead, shaping strategic evolution and defining objectives.</p>
        </div>
    </div>
    <br><br>
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 col-lg-6 text-center">
                <img class="img-fluid" src="img/report-img-2.png" style="margin-top: 20px;">
            </div>
            <div class="col-12 col-lg-6 text-center">
                <img class="img-fluid" src="img/report-img-1.png" style="margin-top: 20px;">
            </div>
        </div>
    </div>
</div>