<div class="container-fluid" style="background-color:#383941;padding: 10px 0px;">
    <div class="container-xxl">
        <div class="container-fluid mt-5" style="padding: 0px 10px;">
            <div class="timeline-slider" style="padding:0px 0px 30px 0px;">
                <!-- Aquí van los elementos de la línea de tiempo -->
                <div class="timeline-item">
                    <div class="timeline-item-content">
                        <h3>Analysis of Prior Art and Trend Research</h3>
                        <br>
                        <h4>Team</h4>
                        <p>3 researchers or analysts</p>
                        <br>
                        <h4>Time Calculation</h4>
                        <p>3 team members work 8 hours per day for 7 days:</p>
                        <br>
                        <h2>7 Days / 168 hours</h2>
                    </div>
                </div>
                <!-- Aquí van los elementos de la línea de tiempo -->
                <div class="timeline-item">
                    <div class="timeline-item-content">
                        <h3>Initial Design and Concept Development</h3>
                        <br>
                        <h4>Team</h4>
                        <p>3x Designers, 2x copywriters and creative director</p>
                        <br>
                        <h4>Time Calculation</h4>
                        <p>6 team members work 8 hours per 14 days</p>
                        <br>
                        <h2>14 Days / 672 hours</h2>
                    </div>
                </div>
                <!-- Aquí van los elementos de la línea de tiempo -->
                <div class="timeline-item">
                    <div class="timeline-item-content">
                        <h3>Creating the First Draft of the Multimedia Video</h3>
                        <br>
                        <h4>Team</h4>
                        <p>Directors, camera operators, sound technicians, actors/actresses, lighting technicians, script supervisors.</p>
                        <br>
                        <h4>Time Calculation</h4>
                        <p>2 directors, 3 camera operators, 3 sound technicians, 4 actors/actresses, 3 lighting technicians, 2 script supervisors 17 team members work 8 hours per day for 21</p>
                        <br>
                        <h2>21 Days / 2,856 hours</h2>
                    </div>
                </div>
                <!-- Aquí van los elementos de la línea de tiempo -->
                <div class="timeline-item">
                    <div class="timeline-item-content">
                        <h3>First Review and edits</h3>
                        <br>
                        <h4>Team</h4>
                        <p>editors,director, productors.</p>
                        <br>
                        <h4>Time Calculation</h4>
                        <p>7  team members work 8 hours per day  for 7 days</p>
                        <br>
                        <h2>7 Days / 392 hours</h2>
                    </div>
                </div>
                <!-- Aquí van los elementos de la línea de tiempo -->
                <div class="timeline-item">
                    <div class="timeline-item-content">
                        <h3>Subsequent Reviews and Edits</h3>
                        <br>
                        <h4>Team</h4>
                        <p>Editors, producers, creative director, and occasional consultations from designers and copywriters.</p>
                        <br>
                        <h4>Time Calculation</h4>
                        <p>3 editors, 1 director, 3 productors
                            7 team members work 8 hours for 7 days:</p>
                        <br>
                        <h2>14 Days / 672 hours</h2>
                    </div>
                </div>
                <!-- Aquí van los elementos de la línea de tiempo -->
                <div class="timeline-item">
                    <div class="timeline-item-content">
                        <h3>Compliance and Legal Clearance</h3>
                        <br>
                        <h4>Team</h4>
                        <p>Legal advisors or compliance officers.</p>
                        <br>
                        <h4>Time Calculation</h4>
                        <p>2 advisors 2 team members work 8 hours per day for 5 days</p>
                        <br>
                        <h2>14 Days / 672 hours</h2>
                    </div>
                </div>
                <!-- Agrega más eventos según sea necesario -->
                <!-- Aquí van los elementos de la línea de tiempo -->
                <div class="timeline-item">
                    <div class="timeline-item-content">
                        <h3>Final Review and Approval</h3>
                        <br>
                        <h4>Team</h4>
                        <p>Producers, director, senior executives for approval.</p>
                        <br>
                        <h4>Time Calculation</h4>
                        <p>2 producers, 1 director, 2 senior executives for approval
                            5 team members work 8 hours per day for 3 days</p>
                        <br>
                        <h2>14 Days / 672 hours</h2>
                    </div>
                </div>
                <!-- Agrega más eventos según sea necesario -->
            </div>
        </div>

    </div>
</div>