<div class="value container-fluid">
    <div class="container-xxl">
      <div class="row text-center">
        <h7>VALUE TO YOUR BUSINESS</h7>
        <br>
        <br>
        <ul>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;"></i> Real time analysis</li>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;"></i> Optimized Spent by 25%</li>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FFD43B;"></i> Generate New Consumer Insights</li>
        </ul>
      </div>
    </div>
</div> 