<div class="value container-fluid">
    <div class="container-xxl">
      <div class="row text-center">
        <h7>VALUE TO YOUR BUSINESS</h7>
        <br>
        <br>
        <ul>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FF019B;"></i> Strengthen audience connection</li>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FF019B;"></i> Boost monetization opportunities</li>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FF019B;"></i> Increase Viewership Revenue</li>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FF019B;"></i> Identify popular game</li>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FF019B;"></i> Drive audience-driven content strategy</li>
            <li><i class="fa-solid fa-check fa-lg" style="color: #FF019B;"></i> Increase follower retention</li>
        </ul>
      </div>
    </div>
</div> 