@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF019B;
  border-radius: 5px;
}

::-webkit-scrollbar-horizontal {
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 5px;
}

html, body {
  background: #03051D;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../src/assets/img/home_background.webp);
  background-repeat: no-repeat;
  background-position: 50% -400px;

  .content {
    flex: 1;
  }

  .scroll-top {
    background-color: #d40283 !important;
    border-radius: 50% !important;
    margin-bottom: 5rem;
  }

  header {
    z-index: 10000;
  }
}
